<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ServletDemo</display-name>
  <welcome-file-list>
    <welcome-file>home.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>userResReimbur</servlet-name>
  	<servlet-class>com.revature.servlets.AllResReimburForUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userResReimbur</servlet-name>
  	<url-pattern>/userResReimbur</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>userUnResReimbur</servlet-name>
  	<servlet-class>com.revature.servlets.AllUnresReimForUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userUnResReimbur</servlet-name>
  	<url-pattern>/userUnResReimbur</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>resolvedReimburse</servlet-name>
  	<servlet-class>com.revature.servlets.AllUnactiveReimburseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>resolvedReimburse</servlet-name>
  	<url-pattern>/resolvedReimburse</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>newPenReimburse</servlet-name>
  	<servlet-class>com.revature.servlets.AllActiveReimburseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>newPenReimburse</servlet-name>
  	<url-pattern>/newPenReimburse</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>userReimburse</servlet-name>
  	<servlet-class>com.revature.servlets.AllReimburForUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>userReimburse</servlet-name>
  	<url-pattern>/userReimburse</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>loadImps</servlet-name>
  	<servlet-class>com.revature.servlets.LoadEmployeeList</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>loadImps</servlet-name>
  	<url-pattern>/loadImps</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>newUser</servlet-name>
  	<servlet-class>com.revature.servlets.NewUserServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>newUser</servlet-name>
  	<url-pattern>/newUser</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>loadEmployeeDash</servlet-name>
  	<servlet-class>com.revature.servlets.LoadEmployeeDashServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>loadEmployeeDash</servlet-name>
  	<url-pattern>/loadEmployeeDash</url-pattern>
  </servlet-mapping>
  
 </web-app>